:root {

    /* fonts */
    --font-base: 'Inter', sans-serif;
    --font-size-base: 1rem;

    --h1-size: calc(var(--font-size-base) * 2.25);
    --h2-size: calc(var(--font-size-base) * 1.75);
    --h3-size: calc(var(--font-size-base) * 1.5);
    --h4-size: calc(var(--font-size-base) * 1.25);
    --h5-size: calc(var(--font-size-base) * 1);

    --txt-sm-size: calc(var(--font-size-base) * 0.75);
    --txt-md-size: calc(var(--font-size-base) * 0.875);
    --txt-lg-size: calc(var(--font-size-base) * 1);


    /* colors */
    --bg-light: #ffffff;
    --bg-med: #F9F9FA;
    --bg-strong: #E8EAF1;

    --text-light:#626d91;
    --text-med: #2F3751 ;
    --text-strong: #21242D;

    /* spacing */

    --base-spacing: 1;

    --s1: 1px;
    --s2: calc(var(--base-spacing) * 2);
    --s4: calc(var(--base-spacing) * 4);
    --s6: calc(var(--base-spacing) * 6);
    --s8: calc(var(--base-spacing) * 8);
    --s10: calc(var(--base-spacing) * 10);
    --s12: calc(var(--base-spacing) * 12);
    --s16: calc(var(--base-spacing) * 16);
    --s20: calc(var(--base-spacing) * 20);
    --s24: calc(var(--base-spacing) * 24);
    --s32: calc(var(--base-spacing) * 32);
    --s40: calc(var(--base-spacing) * 40);
    --s48: calc(var(--base-spacing) * 48);
    --s64: calc(var(--base-spacing) * 64);
    --s80: calc(var(--base-spacing) * 80);
    --s100: calc(var(--base-spacing) * 100);
    --s120: calc(var(--base-spacing) * 120);

}


    h1, h2, h3, h4, h5 {
        font-family: var(--base-spacing);
        font-weight: bold;
        padding: 0px;
        margin: 0px;

    }

    h1{
        font-size: var(--h1-size);
        line-height: calc(var(--h1-size) + 8);
        font-family: var(--font-base);
        color: var(--text-strong);
    }

    h2{
        font-size: var(--h2-size);
        line-height: calc(var(--h2-size) + 8);
        font-family: var(--font-base);
        color: var(--text-strong);
    }

    h3{
        font-size: var(--h3-size);
        line-height: calc(var(--h3-size) + 8);
        font-family: var(--font-base);
        color: var(--text-strong);
        padding: 0;
    }

    h4{
        font-size: var(--h4-size);
        line-height: calc(var(--h4-size) + 8);
        font-family: var(--font-base);
        color: var(--text-strong);
    }

    h5{
        font-size: var(--h5-size);
        line-height: calc(var(--h5-size) + 8);
        font-family: var(--font-base);
        color: var(--text-strong);
    }

    p{
        padding: 0px;
        margin: 0px;
    }

    .ts { 
        font-family: var(--font-base);
        font-size: var(--txt-sm-size);
        line-height: 16px;
    }
    .tm { 
        font-family: var(--font-base);
        font-size: var(--txt-md-size);
        line-height: 20px;
    }
    .tl { 
        font-family: var(--font-base);
        font-size: var(--txt-lg-size);
        line-height: 24px;
    }
